@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --default-gray: #d7dbe1;
        --default-white: #f0f0f0;
        --default-text-dark: #3b3b3b;
        --button-hover: #d6f4ff;
        --menu-vertical-bg: #375582;
        --page-bg: #b0cde8;
        --button-default-bg: #0077b6;
        --button-secondary-bg: #77a8ec;
    }
}